
@font-face {
  font-family: IranYekan;
  font-style: normal;
  src: url('../../public/fonts/IRANYekanMobileRegular.woff2') format('woff2'),
  url('../../public/fonts/IRANYekanMobileLight.woff2') format('woff2');
  font-display: block;
}
