$extra-Small-size: 374px;
$xSmall-size: 600px;
$small-size: 768px;
$medium-size: 960px;
$large-size: 1200px;
$xLarge-size: 1400px;
$xXLarge-size: 1700px;

$dark-surface: #020B1F;
$light-surface:#182040;
$surface-500 :#7E848E;
$surface-400 : rgba(24, 32, 64, 1);
$primary:#0551E7;
$dark-blue:#033699;
$surface-300 : #182040;
$red-color:#FF3231;

$medium-gray-color: #666666;
$light-gray-color: #888888;
$lighter-gray-color: #A1A1A1;
$lightest-gray-color: #EEEEEE;

$gold-color: #BDAC9A;
$red-color: #FA163F;
$blue-color: #0099CA;


$light-border-color: #EEEEEE;
$middle-border-color: #DDDDDD;

$border-radius-1: 10px;
$border-radius-2: 20px;


$gutter: 16px;
$doubleGutter: 32px;
$halfGutter: 8px;
$quarterGutter: 4px;
$tripleGutter:64px;

$title1-fz: 32px;
$title2-fz: 26px;
$title3-fz: 22px;
$title4-fz: 18px;
$title5-fz: 16px;
$title6-fz:14px;
