@import "src/styles/mixins.module";
.main {
  min-height: 100vh;
  @include container;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(25%, auto));
  max-width: 100%;
  width: var(--max-width);
}
